{% extends "header.html" %} {% block content %}

<div class="container kBox kLoading">
  <a
    type="button"
    style="border-radius: 5px"
    class="btn btn-info btn-rounded"
    href="trend"
  >
    Back
</a>

  <div class="text-center">
    <h1 class="kHeading">Prediction Result</h1>
  </div>
  <div class="text-center">
    <h3>E-mail sent to {{ uemail }} successfully</h3>
  </div>

  <div class="text-center" style="font-weight: 300;">
    <h4>The RSI value of {{ company }} is: {{rsi}}</h4>
    <h4>The MACD value of {{ company }} is: {{macd}}</h4>
    <h4>The ROC value of {{ company }} is: {{roc}}</h4>
  </div>
  <br />

  <div class="text-center">
    <h4>Trend is: {{trend}}</h4>
  </div>
  <br />
</div>
{% endblock content %}
