{% extends "header.html" %}
{% block content %}
<style>
    div.second{
        opacity: 0.9;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }

    
</style>
<link rel="stylesheet" href="../static/styles/styles.css"> 
<!-- <div id="about-section" style="background-image: url('https://images6.alphacoders.com/114/1141549.png'); " > -->
    <div class="container kBox kLoading">
        <center><h3 class="kHeading">A little about our Project</h5></center> 
        <hr class="hr-1">
        <p class="lead"> <span class="name-special">Stock Trend Detection</span> was built to make buying and/or selling decisions on stock markets easier <span class="name-special">for you</span></p>
        <p class="lead">Tech stack used:</p>
        <ul>
            <li>
                <i class="fab fa-python"></i> Python
            </li>
            <li>
                Flask
            </li>
            <li>
                <i class="fab fa-python"></i> <i class="fab fa-css3-alt"></i> HTML and CSS for the webpage views
            </li>
        </ul>
        <div class="text-center">
            <button style="width: 350px;" onclick="window.location.href='{{project_link}}'" class="custom-btn btn-3"><span>View our project files on GitHub! <i class="fab fa-github"></i> </span></button>
        </div> 
        
        <hr class="my-4">
        <p class="lead">Authors</p>
        <ul>

            <div class="row">
                <div class="text-center col-md-3">
                    <img class="kImg" style="width: 70%; border-radius: 50%;" src="{{url_for('static',filename = 'images/pics/amit.jpeg')}}" alt="" srcset="">
                    <p>
                        <h6> <a href="https://github.com/timaddg/" class="kLinkUserlink">Amit Vasudev</a></h6>
                        1MS17IS018
                    </p>
                </div>
                <div class="text-center col-md-3">
                    <img class="kImg" style="width: 70%; border-radius: 50%; " src="{{url_for('static',filename = 'images/pics/anirudh.jpeg')}}" alt="" srcset="">
                    <p>
                        <h6> <a href="https://github.com/Pandani07/" class="kLinkUserlink">Anirudh Dutt</a></h6>
                        1MS17IS024
                    </p>
                </div>
                <div class="text-center col-md-3">
                    <img class="kImg" style="width: 70%; border-radius: 50%; " src="{{url_for('static',filename = 'images/pics/gowda.jpeg')}}" alt="" srcset="">
                    <p>
                        <h6> <a href="https://github.com/dhrutick/" class="kLinkUserlink">Dhruthick Gowda M</a></h6>
                        1MS17IS040
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <img class="kImg" style="width: 70%; border-radius: 50%; " src="{{url_for('static',filename = 'images/pics/amarthya.jpeg')}}" alt="" srcset="">
                    <p>
                        <h6> <a href="https://github.com/Amarthya03/" class="kLinkUserlink">Amarthya K R</a></h6>
                        1MS17IS017
                    </p>
                </div>
            </div>
        </ul>
        <hr class="my-4">

        <div class="text-center">
            <img id="naresh" class="kImg" style="width: 20%; border-radius: 50%; " src="{{url_for('static',filename = 'images/pics/naresh.png')}}" alt="" srcset="">
            <p class="lead">Under the guidance of Dr. Naresh E</p>      
            <p class="lead">Department of Information Science and Engineering</p>
            <p class="lead">MS Ramaiah Institute of Technology</p>
        </div>
    </div>
<!-- </div> -->

{% endblock content %}